<!-- Select Account Page HTML -->
<div class="login-reg-panel">
    <form>
        <div class="login-panel">
            <br>
            <h4 mt-4>Select your Profile</h4>
            <br>
            <br>
            <div>
                <!-- <img class="userimg" src="/assets/images/user.webp" -->
                    <!-- width="140" height="150"> -->
                <!-- <img class="adminimg" src="/assets/images/admin.webp" width="150" height="160"> -->
                <br>
                <div>
                    <br>
                    <a routerLink="/userLogin" type="button" class="btn-user btn-dark btn-lg">User Login</a>
                    <a routerLink="/adminLogin" type="button" class="btn-admin btn-dark btn-lg">Admin Login</a>
                </div>
            </div>
        </div>
    </form>

</div>