/*View Product CSS */
#card-product {
  position: relative;
  transform: translateY(0%);
  text-align: center;
  background-color: rgba(105, 96, 96, 0.477);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#card-reviews {
  position: relative;
  transform: translateY(-3%);
  text-align: center;
  background-color: rgba(105, 96, 96, 0.477);
  font-size: 25px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;

}

h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white
}

.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}

.full {
  color: red;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}

.card-title {
  font-size: 20px
}

.table thead {
  color: black;
  text-align: center;
  width: 40%;
  background-color: rgba(150, 145, 145, 0.815);
  ;
  font-family: Arial, Helvetica, sans-serif;

}

.table td {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.table {
  width: 100%;
  background-color: #D8F0DA;
  opacity: 0.97;
  background: transparent;
  border-color: black;
}

.rev {
  margin-top: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h4 {
  margin-top: -6px;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
}

a:link {
  text-decoration: none;
}

.unavailable {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
  color: white;
  font-size: 28px;
}

#approveBtn {
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(3, 132, 35);
  background-color: rgb(3, 132, 35);
  color: rgb(3, 132, 35);
  margin-left: -82px;
  margin-top: 25px;

}

#rejectBtn {
  margin-left: 100px;
  margin-top: -70px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(180, 0, 0);
  width: 70px;

}