<!-- Admin Dasboard HTML -->
<div class="p-5 bg-image">
  <a routerLink="/admin-products">
    <h2 class="viewProductLink">View Products</h2>
  </a>
  <a routerLink="/add-product">
    <h3 class="addProductLink">Add Product</h3>
  </a>
</div>
<div class="card md-5 shadow-5-strong">
  <div class="home-panel">
    <div class="container">
      <div class="center">
       
        <label class="member-labels">{{users}} Members</label>
       
        <label class="products-labels">{{products}} Products</label>
       
        <label>{{reviews}} Reviews</label>
      </div>
    </div>
  </div>
</div>